
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutErr.cshtml";
}

<style>
    .banner {
        padding: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
</style>
<div class="container">
    <div class="banner">
        <img src="https://so9.vn/images/services/service3.png" alt="Alternate Text" width="400" />
    </div>
    <div class="banner" style="padding:20px">
        <h4 style="text-transform:uppercase">Tính năng đang được phát triển</h4>

    </div>
</div>